/* Customize font */
body {
  font-family: Arial, sans-serif;
  background-image: url('https://images.pexels.com/photos/139398/thermometer-headache-pain-pills-139398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar styles */
.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
}
.navbar-brand {
  font-size: 2rem;
}
.nav-link {
  font-size: 1.2rem;
  color: #212529;
}

/* Main content styles */
.container {
  max-width: 800px;
}
.card {
  margin-top: 2rem;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #6c757d;
  color: #fff;
  font-size: 1.5rem;
}

.card-body {
  padding: 2rem;
}
.btn-primary,
.btn-success {
  border-radius: 0;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  font-size: 1.2rem;
}

/* Footer styles */
footer {
  margin-top: 2rem;
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #212529;
}
